<!DOCTYPE html>
<html>
  <head>
    <title>Lonely Suicide Drum</title>
    <link rel="stylesheet" type="text/css" href="/screen.css" />
  </head>
  <body>
    <div id="content">
      <%= content %>
    </div>
    <footer>
      By <a href="http://twitter.com/jaspervdj">@jaspervdj</a> and
      <a href="http://twitter.com/nudded">@nudded</a>. Source
      <a href="http://github.com/nudded/lonely-suicide-drum/">available
      here</a>.
    </footer>
  </body>
</html>
