<!DOCTYPE html>
<html>
  <head>
    <title>Lonely Suicide Drum</title>
    <link rel="stylesheet" type="text/css" href="/screen.css" />
  </head>
  <body>
    <div id="content">
      <%= content %>
    </div>
  </body>
</html>
