<div class="now_playing">
  <% if now_playing %>
    <h1>Now playing:</h1>
    <%= erb :song, :locals => {:song => now_playing} %>
  <% else %>
    <h1>Not playing.</h1>
  <% end %>
</div>
<div class="queue">
  <% if not queue.empty? %>
    <h1>Coming up:</h1>
    <ul class="queue">
      <% queue.each do |song| %>
        <li>
          <%= erb :song, :locals => {:song => song} %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
