<div id="now_playing">
  <% if now_playing %>
    <h1>Now playing:</h1>
    <%= erb :song, :locals => {:song => now_playing} %>
  <% else %>
    <h1>Not playing.</h1>
  <% end %>
</div>
<div id="queue">
  <% if not queue.empty? %>
    <h1>Coming up:</h1>
    <ul>
      <% queue.each do |song| %>
        <li>
          <%= erb :song, :locals => {:song => song} %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<div id="upload">
  <h1>Upload file:</h1>
  <form enctype="multipart/form-data" action="/songs" method="post">
    <input type="file" name="data" class="white" />
    <input type="submit" value="Upload" style="float: right" />
  </form>
</div>
