html {
    background: black url("/background.png") no-repeat top center;
    color: white;

    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
    font-variant: small-caps;
}

div#content {
    width: 500px;
    margin: 290px auto 0px auto;
}

footer {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

a {
    color: rgb(130, 0, 0);
}

h1 {
    font-size: 18px;
}

strong {
    color: rgb(130, 0, 0);
}

ul {
    list-style-type: none;
    padding: 0px;
}

input {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
    font-variant: small-caps;
}

input.white {
    color: white;
}
